body{
    display:flex;
    justify-content: center;
    align-items: center;
}
h2{
    padding: 20px;
    text-align: center;
    font-size: 50px;
}
*{
    margin:0;
    padding: 0;
}

.submissionfield { width: 750px; height: 30px; border: 1px solid #999999; padding: 5px; }